/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


:root {
  --background: #f1f5f9;
	--secondary-background: #ffffff;
	--primary-text: #121212;
  --inputField-color: #f1f5f9;
  --accent: #e86c1a;
	/* --accent: #1a73e8; */
	--grey-tone: #dadce0;
  --title: #121212;
  --dotted-gray: #dee1e3;

	--shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);


  --light: #d8dbe0;
  --dark: #28292c;
}

[data-theme='dark']{
  --background: #0b0d0d;
  --secondary-background: #16191d;
  --inputField-color: #2b2d2f;
  --primary-text: #9b9b9b;
  --accent: #e86c1a;
  --title: #b8b8b8;
  --grey-tone: #3e3f41;
  --dotted-gray: #4c4b4b; 
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


.app {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .9s;
}

/* Theme Toggle Button */

.toggle-switch {
  position: relative;
  width: 70px;
}

.toggle-container {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

.toggle-checker {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.toggle-checker:checked ~ .slider {
  background-color: var(--accent);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3.5px;
  left: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 7px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.toggle-checker:checked ~ .slider::before {
  transform: translateX(36px);
  background-color: var(--secondary-background);
  box-shadow: none;
}


/*Loading Animation */

.loading__anim {
  width: 12rem;
  height: 12rem;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: var(--accent);
  border-top-color: var(--accent);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}


/* Login/Signup */
.logo {
  width: 9.5rem;
}

.logo-signup{
  width: 8rem;
}


.auth-container{
  max-width: 50rem;
  width: 100%;
  padding: 4rem 4.5rem;
  border: none;
  outline: none;
  border-radius: .5rem;
  font-size: 1.8rem;
	font-weight: normal;
	line-height: 1.5;
  color: var(--primary-text);
  background: var(--secondary-background);
  box-shadow: var(--shadow-large);
  margin: 2.5rem 0;
}

/*Login Page*/
.login-top-container{
  display: flex;
  align-items: flex-end;
}

.text {
  font-family: 'Open Sans', sans-serif;
}

.text-large{
  font-size: 4rem;
  font-weight: 600;
  color: var(--title);
  margin-right: .5rem;
}

.text-medium{
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--title);
  margin-right: .5rem;
}


.text-links {
  color: var(--accent)
}

.text-links:hover{
  text-decoration: underline;
  color: var( --accent)
}

.login-form{
  margin-top: 2.5rem;
}

.input-field{
  font-family: inherit;
  font-size: 1.65rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: .85rem 2.35rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  color: var(--primary-text);
  background: var(--inputField-color);
  text-transform: unset;
}

.auth {
  margin-bottom: 2.2rem;
}

.auth-control{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3.5rem;
  width: 100%;
}

.auth-submit{
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  min-width: 40%;
  height: auto;
  padding: 0.85rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: #fff;
  background: var(--accent);
  box-shadow: var(--shadow-medium);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.striped {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.striped-line{
  flex: auto;
	flex-basis: auto;
  border: none;
  outline: none;
  height: 2px;
  background: var(--grey-tone);
}

.striped-text {
  font-family: inherit;
  font-size:2rem;
  font-weight: 500;
  line-height: inherit;
  color: var(--primary-text);
  margin: 0 1rem;
}

.login-method {
  font-family: inherit;
  font-size: 1.85rem;
  font-weight: 500;
  line-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1.32rem 1.25rem;
  outline: none;
  border: 2px solid var(--grey-tone);
  border-radius: 3rem;
  color: var(--primary-text);
  background: var(--secondary-background);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease;
  margin-bottom: 2rem;
}

.login-method:hover{
  background: var(--inputField-color);
}

.affiliate-icons {
  width: 2.5rem;
  margin-right: .5rem;
}


/* Register Page */
.auth-register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.register-label {
  display: inline-block;
  margin-left: 1.2rem;
  font-weight: 500;
}

.require-star{
  font-weight: 600;
  color: #e80101;
  font-size: 2rem;
}

.signup-top-container{
  display: flex;
  align-items: flex-end;
}

.register-profile-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  position: relative;
  border: 3px dotted var(--dotted-gray);
  border-radius: 10px;
  padding: .85rem 0;
  text-align: left;
  transition: all 1.2s;
}


.register-pic{
  border-radius: 100%;
  width: 13rem;
  height: 13rem;
  object-fit:cover;
  border-radius: 100%;
}

.online-indicator{
  display: block;
  border-radius: 9999px;
  height: 28px;
  width: 28px;
  background-color: #12c312;
  position: absolute;
  border: 5px solid var(--secondary-background);
  transform: translate(135%, 10%);
}

.register-name-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-name-wrapper{
  width: 49%;
  display: flex;
  flex-direction: column;
}

.form-warning{
  display: block;
  text-align: center;
  font-weight: 600;
  color: #e80101;
  font-size: 1.8rem;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 580px){
  .auth-container {
    max-width: 90%;
  }

  .logo {
  width: 7.5rem;
  }

  .logo-signup{
  width: 9rem;
  }

  .register-name-container{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

.register-name-wrapper{
    width: 100%;
  }

  .text-large{
    font-size: 3.5rem;
    margin-right: .5rem;
  }


  .register-pic{
  width: 12rem;
  height: 12rem;
  }
}

@media screen and (max-width: 430px){
  .auth-container{
    padding: 3rem 3.5rem;
  }
  .auth-control{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .auth-submit{
    margin-top: 1rem;
    width: 100%;
  }

  .login-method {
    font-size: 1.35rem;
    padding: 1.15rem 1rem;

  }

  .text-medium{
  font-size: 3rem;
  margin-right: 0;
  text-align: center;
  }
}

/* Main Page */
.homepage{
  max-width: 125rem;
  width: 100%;
  height: 78rem;
  background-color: var(--secondary-background);
  box-shadow: var(--shadow-large);
  border-radius: 1.5rem;
  display: flex;

  /* font-family: 'Open Sans', sans-serif; */
}


/* USER SIDE BAR*/

aside {
  height: 100%;
  max-width: 38rem;
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background-color: var(--secondary-background);
  /* box-shadow: var(--shadow-normal); */
  font-weight: 600;
  font-size: 2.3rem;
}


.user-heading {
  width: 100%;
  height: 8rem;
  background-color: rgb(34, 43, 54);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.9rem;
  align-items: center;
  border-top-left-radius: 1.5rem;
}

.user-title {
  color: #fff;
  font-weight: 700;
}

.user-thumbnail-container,
.user-thumbnail{
  width: 5.5rem;
  height: 5.5rem;
  position: relative;
}

.user-thumbnail {
  border-radius: 100%;
  object-fit: cover;
}

.user-ping {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: #36d52b; 
  border: 1px solid rgb(34, 43, 54);
  top:  2px;
  right: -2px;
}

/* Navigation */
.navigation {
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom-right-radius: 1.5rem;
}
.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.5rem;
  border-bottom-left-radius: 1.5rem;
}
.tabs * {
  z-index: 2;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  color: #185ee0;
}
input[type="radio"]:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 100%;
  font-size: 1.55rem;
  font-weight: 600;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}
input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}
input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}
input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}
.glider {
  position: absolute;
  display: flex;
  height: 3.4rem;
  /* width: 122px; */
  width: calc(100% / 3.1);
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

.nav-icon {
  font-size: 2.5rem;
}

/* Opened Tabs */

.open-tab {
  max-height: calc(100% - 12.4rem);
  height: calc(100% - 12.4rem);
  width: 100%;
  background: var(--secondary-background);
  padding-top: 1rem;
}


/* Global User Tab */
.search-container {
  width: 100%;
  padding: 0 2rem;
  position: relative;
  height: 6rem;
  border-bottom: 1px solid var(--grey-tone);
}

.search-input{
  outline: none;
  position: relative;
  height: 3.9rem;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 500;
  border-radius: 2rem;
  padding-left: 4rem;
  padding-right: 2rem;
  background-color: var(--inputField-color);
  color: var(--primary-text)
}

.search-icon {
  position: absolute;
  left: 3rem;
  top: .9rem;
  font-size: 1.9rem;
  color: rgb(151, 151, 151);
}

.user-list-wrapper{
  width: 100%;
  height: calc(100% - 39px);
  overflow:auto;
}

.user-list-container {
  width: 100%;
  padding-top: 2rem;
}

.online-user-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7rem;
  padding: 1rem 3rem;
}

.online-user-wrapper:hover {
  background-color: #f0f0f0d3;
  cursor: pointer;
}

.user-status-title {
  font-size: 1.44rem;
  font-weight:700;
  color: grey;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-bottom: .3rem;
}

.user-status-thumbnail{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 100%;
  margin-right: .7rem;
}

.user-status-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.3;
}

.user-status-name {
  font-size: 1.7rem;

}

.user-status-subtitle {
  font-size: 1.35rem;
}

.user-status-online-indicator {
  display: flex;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  margin-left: auto;
}

.user-status-online-indicator.green {
   background-color:#36d52b;
}

.user-status-online-indicator.red{
   background-color:#ff0000;
}

 /* Chatbox */
 .chat-box {
  width: 100%;
  height: 100%;
  background:#e2e0e0;
 }

